---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <div class="h-full diamond flex items-end justify-center pb-20" style={`background-image: url(../diamond.png);`}>
        <div class="text-center text-slate-600 border border-stone-950 bg-slate-50 py-1 px-4">
          <p>LAUNCHING SUMMER 2024</p>
        </div>
      </div>
		</main>
	</body>
</html>
