---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="nav-bar text-sm">
    <div>
      <h2 class="font-bold"><a href="/">{SITE_TITLE}</a></h2>
    </div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
    display: flex;
    justify-content: left;
	}
	nav {
    height: 3.5em;
		display: flex;
		align-items: center;
		justify-content: center
	}
</style>
